{
  "presets": [["next/babel", {
    "styled-jsx": {
      "plugins": ["styled-jsx-plugin-postcss"]
    }
  }],
  ["@babel/preset-env", {"targets": {"node": "current"}}], "@babel/preset-typescript"],
  "plugins": [
    "inline-react-svg"
  ]
}