{
  "presets": [["next/babel", {
    "styled-jsx": {
      "plugins": ["styled-jsx-plugin-postcss"]
    }
  }],
  ["@babel/preset-env", {"targets": {"node": "current"}}], "@babel/preset-typescript"],
  "plugins": [
    [
      "babel-plugin-inline-react-svg",
      {
        "svgo": {
          "plugins": [{ "name": "cleanupIDs", "params": { "remove": false, "minify": false } }]
        }
      }
    ]
  ]
}