@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
	@apply h-full;
  min-height: 100vh;
  min-height: -webkit-fill-available;
} */

/* #__next {
	@apply flex flex-col min-h-full;
} */


@layer utilities {
  .add-scrollbar {
    overflow-x: auto;
    overflow: -moz-scrollbars-none;
    scrolllbar-width: none;
    -ms-overflow-style: none;
  }

  .add-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .show-scrollbar {
    overflow-x: auto;
  }
  .disbale-scrollbar {
    overflow-x: unset;
    overflow: unset;
  }

  .show-scrollbar::-webkit-scrollbar {
    width: 200px;
    height: 10px;
    background-color: #fff;
  }
/* 
  .show-scrollbar::-webkit-scrollbar-thumb {
    background: #421BA7;
  }
  .show-scrollbar::-webkit-scrollbar {
    display: unset;
  } */

  .card_settings {
    display: none;
  }

  .unset_mx {
    margin-right: unset;
    margin-left: unset;
  }
}

.carte:hover .card_settings {
  cursor: pointer;
  display: flex;
}